# Vim swap and temp files
*.swp
*~

# C object files
*.o

# binaries
*.elf
*.bin
*.hex

# MacOS DS store files
.DS_Store

# Visual studio backup
*.BAK

logfile

configs/
platform/
platform-energymicro-efm32gg-dk3750/
platforms/
tests/